.btn {
    @include btn-palette(btn);
    position: relative;
    margin: 20px 0px 20px 0px;
    font-size: 15px;
    width: 100%;
    &:active {
        background-color: lighten($color-primary, 35%)
    }
    &-cta {
        @include btn-palette(btn-cta);
        width: auto;
    }
    &-icon {
        margin: 0 10px;
    }
    &-number {
        @include btn-palette(btn-number);
        font-size: 14px;
        padding: 2px 6px;
        position: absolute;
        left: -10px;
        top: 14px;
    }
    &-menu {
        @include btn-palette(btn-menu);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        margin: 15px 10px;
        p,
        h3 {
            margin:$margin-global;
            font-size: 18px;
        }  
    }
}