.btn {
    @include btn-palette(btn);
    position: relative;
    font-size: 15px;
    width: 100%;

    &:hover {
        background-color: lighten($color-primary, 35%);
    }

    &:hover>&-icon {
        color: $color-primary;
    }

    &-functioning {
        margin: 20px 0;
        height: 60px;
        font-size: 16px;
        display: flex;
        align-items: center;

        @include desktop {
            width: 320px;
        }
    }

    &-cta {
        @include btn-palette(btn-cta);
        width: auto;
        margin: 30px 0;
        position: relative;
        z-index: 1;

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
            border-radius: 20px;
            opacity: 0;
            z-index: -1;
            transition: opacity 350ms;
        }
    }

    &-icon {
        margin: 0 10px;
    }

    &-number {
        @include btn-palette(btn-number);
        font-size: 14px;
        position: absolute;
        left: -10px;
        top: 20px;
    }

    &-menu {
        @include btn-palette(btn-menu);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 10px 0 10px;

        & h3 {
            margin: $margin-global;
            font-size: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &_description {
            width: 80%;
        }

        & p {
            margin: $margin-global;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
        }

        &_price {
            margin-top: 25px;
            margin-right: 15px;
        }

        &:hover {
            >.btn-menu_check {
                transform-origin: right;
                width: 70px;

                >.fa-check {
                    transform: rotate(0deg);
                }
            }
        }

        &_check {
            overflow: hidden;
            width: 0px;
            height: 70px;
            background-color: $color-tertiary;
            border-radius: 0 10px 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1000ms;
        }

        &_menu {
            display: flex;
            justify-content: space-between;
            width: 98%;
            overflow: hidden;
        }
    }
}

.fa-check {
    display: inline-block;
    padding: 2px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-tertiary;
    transform: rotate(90deg);
    transition: all 1000ms;
}