* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    margin: auto;
    max-width: 1360px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $color-black;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

.fa-heart {
        font-size: 22px;
        position: relative;
        z-index: 1;
        color: #666;
        &:hover {
            color: $color-primary;
            &::after {
            opacity: 1;
            transform: scale(100%);
            }
        }
        &::after {
        content: "\f004";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1;
        z-index: -1;
        transform: scale(0) ;
        font-weight: 900;
        color: $color-primary;
        transition: all 500ms;
    }
}