$btn-palette: (
    btn: (bkg: $clr-bkg-clear,
        txt: $color-black,
        radius: 20px,
        shadow: $shadow-size rgba(0, 0, 0, 0.15),
        padding: 17px 16px,
    ),
    btn-cta: (bkg: linear-gradient(355.1deg, $color-primary -15%, $color-secondary 110%),
        txt: $color-white,
        radius: 25px,
        shadow: $shadow-size rgba(0, 0, 0, 0.25),
        padding: 12px 24px,
    ),
    btn-menu: (bkg: $color-white,
        txt: $color-black,
        radius: $radius-card,
        shadow: $shadow-size rgba(0, 0, 0, 0.1),
        // padding: 10px 0,
    ),
    btn-number: (bkg: $color-primary,
        txt: $color-white,
        radius: 50%,
        padding: 2px 6px,
    )
);

@mixin btn-palette($type-btn) {
    $palette: map-get($btn-palette, $type-btn);
    background: map-get($palette, bkg);
    color: map-get($palette, txt);
    border-radius: map-get($palette, radius);
    box-shadow: map-get($palette, shadow);
    padding: map-get($palette, padding);
}


$breakpoints: (
    // tablet: 800px,
    desktop: 1024px,
);

// @mixin tablet {
//     @media screen and (min-width: map-get($breakpoints, tablet))  {
//         @content
//     }
// };


@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop))  {
        @content
    }
}