$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$clr-bkg-clear: #F7F7F7;
$color-black: #000;

$margin-global: 7px 15px;

$shadow-size: 0 4px 15px;

$radius-card: 15px;