.section-cta {
    text-align: center;
    padding: 22px;
    background-color: $clr-bkg-clear;

    h1 {
        padding: 20px;
    }

    p {
        margin-bottom: 20px;
        color: #353535;
    }
}