.footer {
    background-color: #353535;
    padding: 20px;
    &_logo {
        font-family: 'Shrikhand', cursive;
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        font-size: 18px;
        margin-left: 0;
        margin-bottom: 15px;
    }
    &_nav i {
        width: 25px;
    }
    &_nav a {
        color: $color-white;
        line-height: 28px;
        display: block;
    }
    &_nav--font {
        font-weight: 500;
    }
}