.footer {
    background-color: #353535;
    padding: 30px;
   
    @include desktop{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: baseline;
        padding-right: 50px;
    }
    &_logo {
        font-family: 'Shrikhand', cursive;
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        font-size: 18px;
        margin-left: 0;
        margin-bottom: 15px;
        @include desktop {
            margin: 0;
        }
    }

    &_nav {
        @include desktop {
            display: flex;
        }
    }
    &_nav i {
        margin-right: 12px;
        font-size: 14px;
        width: 15px;
    }
    &_nav .fa-handshake-angle {
        font-size: 13px;
    }

    &_nav a {
        color: $color-white;
        line-height: 25px;
        display: block;
        @include desktop {
            display: flex;
            margin-right: 40px;
            align-items: center;
        }
    }

    &_nav--font {
        font-weight: 500;
    }
}